language: python
matrix:
    include:
        - os: linux
          sudo: required
          python: "3.3"
          dist: trusty

        - os: linux
          sudo: required
          python: "3.4"
          dist: trusty

        - os: linux
          sudo: required
          python: "3.5"
          dist: trusty

        - os: linux
          sudo: required
          python: "3.6"
          dist: trusty

        - os: osx
          language: generic
          python: "3.3"

        - os: osx
          language: generic
          python: "3.4"

        - os: osx
          language: generic
          python: "3.5"

        - os: osx
          language: generic
          python: "3.6"

before_install:
  # Install miniconda3
  - .travis/installconda.sh
  - export PATH="$HOME/miniconda3/bin:$PATH"
  # Patch boto config (https://github.com/travis-ci/travis-ci/issues/7940)
  - export BOTO_CONFIG=/dev/null
install:
  # Create environments
  - conda env create -v -f deeplearning/environment-linux.yml
  - if [ "$TRAVIS_OS_NAME" = linux ]; then conda env create -v -f deeplearning/environment-linux-gpu.yml; fi
  - conda env create -v -f SVMs/environment-linux.yml
  - conda env create -v -f textmining/environment.yml
  - conda env create -v -f ensembles/environment.yml
script:
  - source activate deeplearning-labs && pip install nose && nosetests deeplearning
  - source activate svm-labs && pip install nose && nosetests SVMs
  - source activate textmining-labs && pip install nose && nosetests textmining
  - source activate ensembles-labs && pip install nose && nosetests ensembles
