language: python
matrix:
    include:
        - os: linux
          sudo: required
          python: "3.3"
          dist: trusty

        - os: linux
          sudo: required
          python: "3.4"
          dist: trusty

        - os: linux
          sudo: required
          python: "3.5"
          dist: trusty

        - os: linux
          sudo: required
          python: "3.6"
          dist: trusty

        - os: linux
          sudo: required
          python: "3.7"
          dist: trusty

        - os: osx
          language: generic
          python: "3.3"

        - os: osx
          language: generic
          python: "3.4"

        - os: osx
          language: generic
          python: "3.5"

        - os: osx
          language: generic
          python: "3.6"

        - os: osx
          language: generic
          python: "3.7"

before_install:
  # Install miniconda3
  - .travis/installconda.sh
  - export PATH="$HOME/miniconda3/bin:$PATH"
install:
  # Create environments
  - conda env create -f deeplearning/environment-linux.yml 
  - conda env create -f SVMs/environment-linux.yml
script:
  - source activate deeplearning-labs && conda install nose && nosetests deeplearning
  - source activate svm-labs && conda install nose && nosetests SVMs

